STUTL = st-util
STFLS = st-flash
NEMIV = nemiver

GDB_BIN = $(shell which $(ARCH)-eabi-gdb)

SDEVICE ?= $(wildcard /dev/ttyACM[0-9])

NEMFLAGS = --gdb-binary=$(GDB_BIN) --remote=localhost:4242 $(TARGET).elf
PICOMFLAGS = -b 115200 "$(SDEVICE)"

.PHONY: flash
flash:
	$(STFLS) write $(TARGET).bin 0x08000000

.PHONY: erase
erase:
	$(STFLS) erase

.PHONY: debug
debug:
	$(STUTL) &
	$(NEMIV) $(NEMFLAGS)

.PHONY: term
term:
	if [ -c "$(SDEVICE)" ]; \
	then gnome-terminal -e "picocom $(PICOMFLAGS)"; \
	else echo Device \"$(SDEVICE)\" does not exists or is not a character device!; \
fi

.PHONY: termlog
termlog:
	if [ -c "$(SDEVICE)" ]; \
	then gnome-terminal -e "script -f -c \"picocom $(PICOMFLAGS)\" session.log"; \
	else echo Device \"$(SDEVICE)\" does not exists or is not a character device!; \
fi
