###############################################################################
# Global flags
###############################################################################

#ifeq ($(SYSTEM), nios2)
#    ARCH = nios2
#else
#    ARCH = or32
#endif
ARCH = nios2
SYSTEM = nios2

# Valid values:
#  de2-70
#  db_4ce10
BOARD = de2-70

# Enable Debuging output:
DEBUG_OUTPUT=n

###############################################################################
# Binaries
###############################################################################

AR   = $(ARCH)-elf-ar
AS   = $(ARCH)-elf-as
CC   = $(ARCH)-elf-gcc
LD   = $(ARCH)-elf-g++
OBJC = $(ARCH)-elf-objcopy
OBJD = $(ARCH)-elf-objdump

###############################################################################
# Preprocessor flags
###############################################################################

# if set, compile for ALTERA DE2-70 board, else leave out all HW related stuff
ifeq ($(SIMULATE),y)
    PLATFORM = 
else
    PLATFORM = -D__ALTERA_BOARD
endif

ifeq ($(SYSTEM), nios2)
    CPP_DEF = -DSYSTEM_BUS_WIDTH=32 -D__hal__ -DALT_NO_INSTRUCTION_EMULATION -DALT_SINGLE_THREADED
endif

ifeq ($(USE_OS),y)
    LDSCRIPT = $(BASEDIR)/share/altera-$(BOARD)-$(ARCH)-os.ld
    CPP_OS	= -DUSE_OS
    ifeq ($(OWN_OS),y)
        CPP_OWN	= -DOWN_OS
    else
        CPP_OWN	=
    endif
else
    LDSCRIPT = $(BASEDIR)/share/altera-$(BOARD)-$(ARCH).ld
    CPP_OS	=
    CPP_OWN	=
endif

ifeq ($(DEBUG_OUTPUT),y)
    DEBUG = -D__OSDBG__
else
    DEBUG =
endif

###############################################################################
# Flags
###############################################################################

ASFLAGS  = -g
CPPFLAGS = -I$(BASEDIR)/include -I$(BASEDIR)/include/arch/$(ARCH) $(PLATFORM) $(CPP_OS) $(CPP_OWN) $(CPP_DEF) $(HOST_NUM) $(DEBUG) -D__BOARD=$(BOARD) -DSYSTEM=$(SYSTEM) $(CPPFLAGS_USER) # -DSTATIC=static
CFLAGS_GENERIC = -g -Wall -Wextra -O0 $(CFLAGS_USER) -fomit-frame-pointer
ifeq ($(SYSTEM), nios2)
    CFLAGS = $(CFLAGS_GENERIC) -pipe -mno-hw-div -mno-hw-mul -mno-hw-mulx
else
    CFLAGS = $(CFLAGS_GENERIC)
endif
CXXFLAGS = $(CFLAGS)
#LDSCRIPT = $(BASEDIR)/share/altera-$(BOARD)-$(ARCH).ld
MAP = -Wl,-Map,$(TARGET).map
LDFLAGS  = -Bstatic -T$(LDSCRIPT) $(MAP) $(LDFLAGS_USER) -L$(BASEDIR)/lib $(LIBRARIES) #-nostartfiles
